.weui-form-preview {
   margin: 15px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.subway-title {
    margin: 30px 0;
    font-weight: 400;
    font-size: 34px;
    color: #3cc51f;
    text-align: center;
}

.sub-title {
    margin: 10px 0 30px;
    font-weight: normal;
    font-size: 1.5rem;
    color: #3cc51f;
    text-align: center;
}
.user-title {
    margin: 30px 0 10px;
}
.weui-navbar .weui-badge {
    position: absolute;
    top: .1em;
    right: .1em;
}
.weui-navbar .badge-gray {
    background: #cccccc;
}

.iconfont {
    font-size: 1.2rem;
}
.weui-bar__item_on .iconfont {
  color: #09bb07;
}
