<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item" ng-click="changeStatus(3)" ng-class='{ "weui-bar__item_on":status==3}'>
            未回收
            <span class="weui-badge">{{usedCount}}</span>
        </div>
        <div class="weui-navbar__item" ng-click="changeStatus(1) " ng-class='{ "weui-bar__item_on":status==1}'>
            未使用
            <span class="weui-badge badge-gray">{{ unusedCount }}</span>
        </div>
        <div class="weui-navbar__item" ng-click="changeStatus(2)" ng-class='{ "weui-bar__item_on":status==2}'>
            使用中
            <span class="weui-badge badge-gray">{{ usingCount}}</span>
        </div>
        <div class="weui-navbar__item" ng-click="changeStatus(4)" ng-class='{ "weui-bar__item_on":status==4}'>
            已回收
            <span class="weui-badge badge-gray">{{recycledCount}}</span>
        </div>
    </div>
    <!--暂没看懂这个怎么用 有空了再集成-->
    <div class="weui-tab__panel">
        <ul class="list-group list-group-table" pull-to-refresh="onReload()">
            <li class="list-group-item" ng-repeat="order in orders"></li>
        </ul>
    </div>
</div>
<div class="page preview js_show" style="top:50px;bottom: 50px;">
    <div class="page__bd">
        <div class="weui-form-preview" ng-repeat="order in orders">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">设备号</label>
                    <em class="weui-form-preview__value">{{order.quinumber}}</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">开始时间</label>
                    <span class="weui-form-preview__value">{{order.start_at || "未使用" }}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">结束时间</label>
                    <span class="weui-form-preview__value">{{order.end_at || "未使用"}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">凭证</label>
                    <span class="weui-form-preview__value">
                        <i class="weui-icon-info-circle" ng-click="showImage(order.certificate)" ng-if="order.isImage"></i>
                        <span ng-if="!order.isImage">{{ order.certificate }}</span>
                    </span>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <!--<a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">操作</a>-->
            </div>
        </div>
    </div>
</div>

<div id="iosDialog2" class="js_dialog" style="opacity: 1;" ng-show="imageShowStatus">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">
            <img style="width: 100%;" ng-src="{{imageUrl}}">
        </div>
        <div class="weui-dialog__ft">
            <a class="weui-dialog__btn weui-dialog__btn_primary" href="javascript:;" ng-click="imageShowStatus=false">确定</a>
        </div>
    </div>
</div>

<div ng-show="showError">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误</strong></div>
        <div class="weui-dialog__bd">{{errorMessage}}</div>
        <div class="weui-dialog__ft">
            <a ng-click="showError=false;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
    </div>
</div>
</div>
