<div class="weui-tab">
  <div class="weui-navbar">
    <div class="weui-navbar__item" ng-click= "changeStatus(3)"  ng-class={"weui-bar__item_on":status==3}>
      未回收
      <span class="weui-badge">43</span>
    </div>
    <div class="weui-navbar__item" ng-click= "changeStatus(1) "   ng-class={"weui-bar__item_on":status==1}>
      未使用
      <span class="weui-badge badge-gray" >43</span>
    </div>
    <div class="weui-navbar__item" ng-click= "changeStatus(2)"  ng-class={"weui-bar__item_on":status==2}>
      使用中
      <span class="weui-badge badge-gray">43</span>
    </div>
    <div class="weui-navbar__item" ng-click= "changeStatus(4)"  ng-class={"weui-bar__item_on":status==4}>
      已回收
      <span class="weui-badge badge-gray" >100+</span>
    </div>
  </div>
  <!--暂没看懂这个怎么用 有空了再集成-->
  <div class="weui-tab__panel">
    <!--<ul class="list-group list-group-table" pull-to-refresh="onReload()">-->
      <!--<li class="list-group-item" ng-repeat="state in states" ng-bind="state"></li>-->
    <!--</ul>-->
  </div>

  <!--<div class="weui-cells__title">未回收</div>-->
  <!--<div class="weui-cells">-->
    <!--<div class="weui-cell" ng-repeat="order in orders" >-->
      <!--<div class="weui-cell__hd">-->
        <!--<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block">-->
      <!--</div>-->
      <!--<div class="weui-cell__bd">-->
        <!--<p>{{ order.quinumber}}</p>-->
      <!--</div>-->
      <!--<div class="weui-cell__ft">{{order.goods_name}}</div>-->
    <!--</div>-->
  </div>

  <div class="page preview js_show">
    <div class="page__bd">
  <div class="weui-form-preview" ng-repeat="order in orders">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">设备号</label>
        <em class="weui-form-preview__value">{{order.quinumber}}</em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">开始时间</label>
        <span class="weui-form-preview__value">{{order.start_at || "未使用" }}</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">结束时间</label>
        <span class="weui-form-preview__value">{{order.end_at || "未使用"}}</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">凭证</label>
        <span class="weui-form-preview__value">{{order.certificate}}</span>
      </div>
    </div>
    <div class="weui-form-preview__ft">
      <!--<a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">操作</a>-->
    </div>
  </div>
    </div>
  </div>

  <div ng-show="showError">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
      <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误</strong></div>
      <div class="weui-dialog__bd">{{errorMessage}}</div>
      <div class="weui-dialog__ft">
        <a ng-click="showError=false;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
      </div>
    </div>
  </div>

</div>
