
<h1 class="subway-title user-title">常见错误</h1>
<!--<div class="subway-title  icon-box">-->
    <!--<i class="weui-icon-success weui-icon_msg "></i>-->

<!--</div>-->
<!--<div class="icon-box__ctn">-->
    <!--<h3 class="icon-box__title">成功</h3>-->
    <!--<p class="icon-box__desc">用于表示操作顺利达成</p>-->
<!--</div>-->

<!--<div class="weui-cells__title">带跳转的列表项</div>-->
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" ng-repeat="question in questions" ng-click="showDetail(question.id)">
        <div class="weui-cell__bd">
            <p>{{question.name}}</p>
        </div>
        <div class="weui-cell__ft"> </div>
    </a>
    <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
        <!--<div class="weui-cell__bd">-->
            <!--<p>支付完成解不了锁？</p>-->
        <!--</div>-->
        <!--<div class="weui-cell__ft"> </div>-->
    <!--</a>-->
</div>