<div class="input js_show">
    <div class="weui-cells__title">输入设备号</div>
    <div class="weui-cells weui-cells_form">

        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">设备号</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="输入设备号" ng-model="equipNumber"  auto-focus-when="equipNumberFocus" ng-blur="checkEquipNumber()">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn" ng-click="scanQrCode()">扫码</button>
            </div>
        </div>
    </div>

    <div class="weui-cells__title">时长选择</div>
    <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-check__label" for="{{goods.id}}"  ng-repeat="goods in goodsList">
            <div class="weui-cell__bd">
                <p>{{goods.body}}</p>
            </div>
            <div class="weui-cell__ft">
                <input id="{{goods.id}}" class="weui-check" name="radio1" type="radio"  ng-checked="goods.id==goodsId" ng-click="setGoodsId(goods.id)">
                <span class="weui-icon-checked"></span>
            </div>
        </label>

    </div>
    <div class="weui-cells__title">车票或者其他凭证</div>
    <div class="weui-cells weui-cells_form" ng-show="showCamera">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">凭证</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input"  placeholder="车票或者其他" ng-model="certificate" ng-show="showCamera">
                <img class="profile__avatar___2MB0k" style="vertical-align: middle;width: 50px;height: 50px;border-radius: 4px;" ng-src="{{ certificate }}" alt="" ng-if="!showCamera">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn" ng-click="chooseImage()">{{ showCamera?'拍照':'重拍' }}</button>
            </div>
        </div>
    </div>
    <div class="weui-cells__title"></div>
    <div class=" button js_show">
        <div class="page__bd page__bd_spacing">
              <a class="weui-btn weui-btn_primary"  ng-click="getQrCode()">确定</a>
        </div>
    </div>
    <div id="iosDialog2" class="js_dialog" style="opacity: 1;" ng-if="QrCodeImage">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">
                <img style="width: 100%;" ng-src="{{QrCodeImage}}">
            </div>
            <div class="weui-dialog__ft">
                <a class="weui-dialog__btn weui-dialog__btn_primary" href="javascript:;" ng-click="setQrCodeImage(false)">确定</a>
            </div>
        </div>
    </div>

    <div id="loadingToast" style="opacity: 1;" ng-show="showLoading">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>

    <div ng-show="showError">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">错误</strong></div>
            <div class="weui-dialog__bd">{{errorMessage}}</div>
            <div class="weui-dialog__ft">
                <a ng-click="showError=false;" class="weui-dialog__btn weui-dialog__btn_primary">解锁</a>
            </div>
        </div>
    </div>

</div>